@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is going to be my awesome site about author J.R.R. Tolkien, the father of epic fantasy! </p>
</div>

<h2>Menu</h2>
	<ul class="list-group list-group-horizontal">
		<li class="list-group-item bg-success"><a href="Home/History" class="link text-danger">History</a></li>
		<li class="list-group-item"><a href="Home/Stories" class="link">Stories</a></li>
		<li class="list-group-item"><a href="Home/Privacy" class="link">Privacy</a></li>
	</ul>
