@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-1">
        <ul class="list-group">
            <li class="list-group-item"><a href="Home/History" class="btn btn-dark">History</a></li>
            <li class="list-group-item"><a href="Home/Stories" class="btn btn-danger btn-red">Stories</a></li>
            <li class="list-group-item"><a href="Home/Privacy" class="btn btn-dark" id="btn-privacy">Privacy</a></li>
        </ul>
    </div>
    <div class="text-center col-lg">
        <h1 class="display-4">Welcome</h1>
        <p>This is going to be my awesome site about author J.R.R. Tolkien, the father of epic fantasy! </p>
        <img src="pics/tobias-stonjeck-U9Uhtm7spmQ-unsplash.jpg" alt="image of hobbit village" class="pics m-5"/>
        <img src="pics/hobbit.jpg" alt="image of the cover of The Hobbit by Tolkien" class="pics m-5"/>
        <img src="pics/ilia-bronskiy-E8tbFuM3fQA-unsplash.jpg" alt="image of Lautbrunnen, Switzerland, inspiration for Rivendell" class="pics m-5"/>
    </div>
</div>



