@model Story
@{
    ViewData["Title"] = "Story Forum";

}

<div class="text-center">
    <h1 class="display-4">Story Forum</h1>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post" class="container">
    <div class="row p-2">
        <label asp-for="Title" class="col-form-label col-md-2 mb-3">Title</label>
        <div class="col-md-4">
            <input id="title" asp-for="Title" class="form-control bg-secondary-subtle" />
        </div>
        <div class="col">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row p-2">
        <label asp-for="TopicId" class="col-form-label col-md-2 mb-3">Topic</label>
        <div class="col-md-2">
            <select asp-for="TopicId" class="form-select">
                <option value="">select a topic</option>
                @foreach (Topic t in ViewBag.Topics)
                {
                    <option value="@t.TopicId">@t.TopicName</option>
                }
            </select>
        </div>
        <div class="col">
            <span asp-validation-for="TopicId" class="text-danger"></span>
        </div>
    </div>

    <div class="row p-2">
        <label for="year" class="col-form-label col-md-2 mb-3">Year of the Event</label>
        <div class="col-md-4">
            <input id="year" asp-for="StoryYear" class="form-control bg-secondary-subtle" />
        </div>
        <div class="col">
            <span asp-validation-for="StoryYear" class="text-danger"></span>
        </div>
    </div>

    <div class="row p-2">
        <label asp-for="StoryText" class="col-form-label col-md-2 mb-3">Enter your story here</label>
        <div class="col-md-8">
            <textarea id="story" asp-for="StoryText" class="form-control bg-info-subtle"></textarea>
        </div>
        <div class="col">
            <span asp-validation-for="StoryText" class="text-danger"></span>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-2 offset-md-8">
            <button type="submit" class="form-control btn btn-outline-warning">Submit</button>
        </div>
    </div>
</form>
