@{
    ViewData["Title"] = "Sources";
}

<div class="text-center">
    <h1 class="display-4">Sources</h1>
    <p>This is where you can find links to other sites for more information about the author</p>
</div>

<h2>Menu</h2>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="Sources/News" class="btn btn-danger btn-red">News</a></li>
    <li class="list-group-item"><a href="Sources/FanSites" class="btn btn-dark">Fan Sites</a></li>
</ul>
