@{
    ViewData["Title"] = "Quiz Home";
}

<div class="text-center">
    <h1 class="display-4">Trivia</h1>
    <p>Click the button below to test your knowledge about the books: </p>
</div>

    <a href="Quiz/QuizPage" class="btn btn-primary">Take the Quiz!</a>
